/*Nav-Bar*/
.nav {
  margin-left: 80px;
  margin-right: 80px;
}

.nav-bar {
  background-color: #333333;
  width: 1264px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.header-group-1 {
  float: left;
  color: white;
  background-color: #f50;
  font-weight: lighter;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.header-name {
  height: 10px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.nav-logo {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: 35px;
  align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.header-group-2 {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 height: 40px;
 border-bottom: 1px solid #333;

}

.nav-home-link-flex {
  display: flex;
  justify-content: flex-start
}

.nav-home-link {
  background-color: transparent;
  font-size: 15px;
  color: white;
  height: 40px;
  width: 70px;
  font-weight: lighter;
  text-align: center;
  border-color: transparent;
  padding-right: 630px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  padding-left: 10px;
  :link {
    color: white;
  }
  :visited {
    color: white;
  }
  :hover {
    color: #F50;
  }
  :active {
    color: white;
  }
}

.update-button {
  background-color: #f50;
  font-size: 14px;
  color: white;
  height: 40px;
  width: 100px;
  font-weight: lighter;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.username-link {
  background-color: transparent;
  font-size: 14px;
  color: white;
  height: 40px;
  width: 200px;
  font-weight: lighter;
  border-color: transparent;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  :link {
    color: white;
  }
  :visited {
    color: white;
  }
  :hover {
    color: #F50;
  }
  :active {
    color: white;
  }
}

.signout-button {
  background-color: transparent;
  font-size: 14px;
  color: white;
  height: 40px;
  width: 100px;
  font-weight: lighter;
  text-align: center;
  border-color: transparent;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.nav-profile-image-box {
  padding-left: 15px;
}

.nav-profile-image {
  border-radius: 50px;
}
