/*Nav-Bar*/
.nav {
  margin-left: 80px;
  margin-right: 80px;
}

.nav-bar {
 background-color: #333333;
 width: 100%;
}

.header-group-1 {
 float: left;
 color: white;
 background-color: #f50;
 font-weight: lighter;
}

.header-name {
 height: 10px;
}

.nav-logo {
 margin: 0;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 5px;
 height: 35px;
 align: center;
 font-size: 25px;
 font-weight: bold;
}

.header-group-2 {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 height: 40px;
}

.update-button {
 background-color: #f50;
 font-size: 12px;
 color: white;
 height: 40px;
 width: 100px;
 font-weight: lighter;
 text-align: center;
}

.username {
 background-color: transparent;
 font-size: 12px;
 color: white;
 height: 40px;
 width: 220px;
 font-weight: lighter;
 text-align: center;
}

.signout-button {
 background-color: transparent;
 font-size: 12px;
 color: white;
 height: 40px;
 width: 100px;
 font-weight: lighter;
 text-align: center;
}
