// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*********************************************/
/*Splash Page*/
.signin-signup {
  border: #f50 solid 1px;
  height: 60vh;
  width: 157vh;
  background: url(https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg) 0 0/cover no-repeat;
  margin-right: 10vh;
  margin-left: 10vh;
  border-top: #f50 solid 7px;
  margin-top: -6px;
}

.listen-here-logo {
  float: left;
  color: black;
  font: sans-serif;
}

.logo {
  margin-top: 5vh;
  margin-left: 5vh;
  color: white;
  font-size: 28px;
}

.signin-signup-buttons {
  display: flex;
  margin-top: 5vh;
  margin-right: 5vh;
  float: right;
  text-align: center;
}

.guest-flex {
  display: flex;
  justify-content: center;
}

.guest {
  background-color: transparent;
  font-size: 2vh;
  color: white;
  border-radius: 2px;
  height: 4vh;
  width: 24vh;
  font-weight: lighter;
  &:hover {
    background-color: #f50;
  }
}

.signin-button {
  background-color: transparent;
  font-size: 2vh;
  color: white;
  border-radius: 2px;
  height: 4vh;
  width: 18vh;
  font-weight: lighter;
  cursor: pointer;
  &:hover {
    background-color: #f50;
  }
}

.signup-button {
  background-color: #f50;
  font-size: 2vh;
  color: white;
  border-radius: 2px;
  height: 4vh;
  width: 18vh;
  font-weight: lighter;
  cursor: pointer;
  &:hover {

  }
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 111vh;
  height: 31vh;
  padding-top: 9vh;
}

.welcome {
  font-size: 5.4vh;
  text-align: center;
}

.message {
  font-size: 2.4vh;
  text-align: center;
  font-weight: lighter;
}
/*********************************************/
/*Modal*/
.auth-form-title {

}

.signin-form-container {
  height: 410px;
}

.signin-form-box {
  height: 380px;
  padding-top: 50px;
}

.signin-form {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-style: sans-serif;
}

.signin-input {
  width: 350px;
  height: 40px;
}

.submit-button {
  width: 260px;
  height: 40px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  background: #f50;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  font-weight: lighter;
}

.errors {
  text-align: center;
}

/*********************************************/
