// Place all the styles related to the Api::Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root-page-index {
  height: 600px;
  background-color: white;
  margin-top: 93px;
}

.root-index-header {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
}

.all-songs {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.all-song-items {
  padding-top: 30px;
  padding-left: 30px;
}

.song-index-header {
  font-size: 26px;
  margin-left: 80px;
  margin-top: 90px;
  color: #333;
}

.song-image {
  float: left;
}

.song-item {
  border-bottom: .5px solid lightgrey;
  width: 65%;
  height: 170px;
}

.play-and-details {
  display: flex;
  flex-direction: row;
  position: relative;
}

.song-play-button {
  float:left;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.button-box {
  width: 50px;
  height: 50px;
}

.play-button {
  height: 50px;
  width: 50px;

}

.pause-button {
  height: 44px;
  width: 44px;
  padding-left: 3px;
  padding-top: 3px;
}

.artist-title {
  margin-top: 30px;
  margin-left: 10px;
}

.song-item-artist {
  font-size: 12px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.song-item-title {
  font-size: 18px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  width: 150px;
}

.song-item-left {
  width: 300px;
}

// .song-item-genre-flex {
//   display: flex;
//   justify-content: flex-end;
//   width: 380px;
//   margin-top: 10px;
// }

.song-item-genre {
  height: 20px;
  padding: 0 7px;
  background: #999;
  border: 1px solid #999;
  color: #fff;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
  position: absolute;
  right: 70px;
}
/********************************************/
/*upload modal*/

.upload-form {

}

.upload-form-items {
  // height: 350px;
  // display: flex;
  // justify-content: space-around;
  // flex-direction: column;
  // font-style: sans-serif;
}

.upload-header-flex {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DDD;
  margin-left: 40px;
  margin-right: 40px;
}

.upload-header {
  align: center;
  color: #333;
}

.upload-form-left {
  // border: 1px solid black;
  float: left;
}

.upload-form-right {
  // border: 1px solid black;
  display: flex;
  align-items: right;
  flex-direction: column;
  justify-content: flex-end;
  height: 240px;
  margin-top: -18px;
  padding: 20px;
}

.upload-button-flex {
  // border: 1px solid black;
  // margin-left: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 25px;
}

.choose_file_buttons {
  width: 170px;
  border-radius: 6px;
  // font-weight: lighter;
}

.upload-button {
  width: 260px;
  height: 40px;
  background: #f50;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  font-weight: lighter;
  align: center;
}

.upload-input {
  height: 24px;
  width: 160px;
}

.upload-input-description {
  height: 70px;
  width: 350px;
}

/********************************************/

.audio-footer-flex {
  width: 100%;
  height:50px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #EEE;
  border-top: 1px solid #CCC;
}

.audio-footer-play-button {
  margin-left: 20px;
  width: 45px;
}

.footer-song-item-artist {
  font-size: 12px;
}

.footer-play-button {
  width: 42px;
  height: 42px;
}

.footer-pause-button {
  width: 38px;
  height: 38px;
  padding-right: 7px;
}

/********************************************/
/* Song Detail */

.song-details-page {
  margin-right: 80px;
  margin-left: 80px;
  background-color: white;
  margin-top: 30px;
  padding-top: 10px;
}

.song-details {
  height: 300px;
  // border-bottom: 1.5px solid #EEE;
  margin: 100px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;

}

.show-page-song-image {
  box-shadow: 7px 7px 1.5px #EEE;
}

.song-detail-title-artist {
  padding-top: 90px;
  padding-left: 50px;
  width: 2000px;
}

.song-detail-artist {
  font-size: 18px;
}

.song-detail-title {
  font-size: 28px;
}

.image-show-page {
  width:800px;
  display: flex;
  justify-content: flex-end;
}

.show-page-button-box {
  padding-top: 50px;
  padding-left: 50px;
  width: 100px;
}

.show-page-play-button {
  width: 100px;
  height: 100px;
}

.show-page-pause-button {
  width: 90px;
  height: 90px;
  padding-left: 6px;
  padding-top: 8px;
}
