// Place all the styles related to the Api::Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root-page-index {
  height: 600px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
  margin-top: -23px;
}

.root-index-header {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
}

.all-songs {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.all-song-items {
  padding-top: 30px;
}

.song-image {
  float: left;
}

.song-item {
  border: 1px solid black;
  width: 65%;
  height: 148px;
}

.play-and-details {
  display: flex;
  flex-direction: row;
}

.song-play-button {
  float:left;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.play-button {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 14px;
}

.pause-button {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 14px;
}

.artist-title {
  margin-top: 30px;
  margin-left: 10px;
}

.song-item-artist {
  font-size: 12px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.song-item-title {
  font-size: 18px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  width: 150px;
}

.song-item-genre-flex {
  display: flex;
  justify-content: flex-end;
  width: 380px;
  margin-top: 10px;
}

.song-item-genre {
  position: relative;
  display: inline-block;
  height: 20px;
  padding: 0 7px;
  background: #999;
  border: 1px solid #999;
  border-left-width: 0;
  color: #fff;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 20px;
}
/********************************************/
/*upload modal*/

.upload-form {

}

.upload-form-items {
  // height: 350px;
  // display: flex;
  // justify-content: space-around;
  // flex-direction: column;
  // font-style: sans-serif;
}

.upload-header-flex {
  display: flex;
  justify-content: center;
}

.upload-header {
  align: center;
}

.upload-form-left {
  // border: 1px solid black;
  float: left;
}

.upload-form-right {
  // border: 1px solid black;
  display: flex;
  align-items: right;
  flex-direction: column;
  justify-content: flex-end;
  height: 240px;
  margin-top: -18px;
  padding: 20px;
}

.upload-button-flex {
  // border: 1px solid black;
  // margin-left: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 55px;
}

.choose_file_buttons {
  width: 170px;
  border-radius: 6px;
  font-weight: lighter;
}

.upload-button {
  width: 260px;
  height: 40px;
  background: #f50;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  font-weight: lighter;
  align: center;
}

.upload-input {
  height: 24px;
  width: 160px;
}

.upload-input-description {
  height: 70px;
  width: 350px;
}

/********************************************/

.audio-footer-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
