// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.user-song-index {
  margin-left: 150px;
}

.profile-pic-section {
  width: 200px;
  padding: 50px;
  padding-top: 80px;
}

.profile-pic {
  display: flex;
  align-items: center;
}

.user-profile-pic {

}

.all-song-items-user {
  margin-left: -80px;
}

.banner {
  width: 400px;
  border: 1px solid #333;
}

.user-song-index-header {
  color: #333;
  width: 900px;
  border-bottom: 1.5px solid #EEE;
  width: 970px;
}

.user-page-song-index {
  margin-left: -90px;
}

.banner-username {
  border-bottom: 1.5px solid #EEE;
  color: #333;
  padding-top: 20px;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  padding-left: 70px;
  background-color: white;
  font-size: 30px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.banner {
  width: 1000px;
  height: 300px;
  margin-left: 130px;
}

.prof-pic-upload {
  font-size: 14px;
  width: 170px;
  text-align: center;
  color: white;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  cursor: pointer;
  :hover {
    color: #F50;
  }
}


.cover-pic-upload {
  font-size: 14px;
  width: 170px;
  margin-left: 130px;
  color: #333;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  cursor: pointer;
  :hover {
    color: #F50;
  }
}
